<div class="container page-container">
  <section class="courses">
    <h1 class="events-header learning-style">Learning Materials</h1>

    {{#each learningMaterials}}
    <div class="card events-card">
      <div class="card-body">
        <h5 class="card-title events-cart-title"><i class="fas fa-laptop-code"></i> {{title}}</h5>



        <p class="card-text">{{description}}</p>
        <p class="card-text"><strong>Resource: </strong>{{materialType}}</p>
        {{#if free}}
        <p class="card-text"><strong>Cost: </strong>Free</p>
        {{else}}
        <p class="card-text"><strong>Cost: </strong>NOT free</p>
        {{/if}}
        <form action="/techboard" method="post"> <button class="add-button" type="submit">Add this to
            MyTechBoard</button>
          <input type="hidden" value="{{_id}}" name="resourceId">
          <input type="hidden" value="learningMaterial" name="resourceType">
        </form>
        <a href="{{source}}" class="btn btn-primary learn-more" target='_blank'>Go to {{materialType}}</a>
      </div>
    </div>
    {{/each}}

    <hr />

    <h1 class="events-header learning-style">Videos</h1>

    {{#each youtubeVideos}}
    <div class="card events-card">
      <div class="card-body">
        <h5 class="card-title events-cart-title"><i class="fas fa-tv"></i> {{title}}</h5>

        <form action="/techboard" method="post"> <button class="add-button" type="submit">Add this to
            MyTechBoard</button>
          <input type="hidden" value="{{_id}}" name="resourceId">
          <input type="hidden" value="video" name="resourceType">
        </form>


        <a href="https://www.youtube.com/{{link}}" class="btn btn-primary learn-more" target='_blank'>go to video</a>
      </div>
    </div>
    {{/each}}
  </section>

  <section class="add-new">

    <h1 class="events-header learning-style">Something Missing?</h1>
    <div class="intro-text container page-container">
      <p class="lead">
        If you are a logged in user you can add any JavaScript material you like!

        <h4><a href="/learning/new">Add New Learning Material</a> </h4>

  </section>
</div>