<div class="container page-container">
      <h1 class="events-header">Events</h1>
      
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">{{this.name}}</h1>
          <div class="card-text">
          {{#each data.events}}
            <p>Where: {{this.venue.name}}</p>
            <p>Group: {{this.group.name}}</p>
            <p>when: {{this.local_date}}</p>
            <p>Time: {{this.local_time}}</p>
            <!-- <p>{{{this.description}}}</p> -->
            <p>{{this.visibility}}</p>
            <a href="{{this.link}}" target='_blank'>more details</a>
          {{/each}}
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
