<div class="news-main container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h1 class="news-header border-bottom border-gray pb-2 mb-0 my-tech-board-header">MyTechBoard</h1>
    <h4 class="news-header border-bottom border-gray pb-2 mb-0">Here you can see all the JavaScript content you have
      saved</h4>


    <section class="techboard card-container cards-wrapper">

      <div class="card-info card text-center learning-style" style="width: 30rem;">
        <h3>Learning Materials</h3>
        <dl>
          {{#each materials}}
          <h6 class="card-title"><i class="fas fa-laptop-code"></i> {{title}}</h6>
          <dd> <a class="btn btn-light " href="{{source}}">Learn More</a>

            <form action="/techboard/delete" method="post" class="delete-button">
              <button class="btn btn-light">
                <i class="fas fa-trash-alt"></i>
                <input type="hidden" value="{{_id}}" name="resourceId">
                <input type="hidden" value="learningMaterial" name="resourceType">
              </button>
            </form>
          </dd>

          {{/each}}
          <a href="/learning" class="btn btn-secondary learning-button">Go to Learning List</a>
        </dl>
      </div>

      <div class="card-info card text-center event-style" style="width: 30rem;">
        <h3>Events</h3>
        <dl>
          {{#each events}}
          <h5 class="card-title"> <i class="fas fa-users"> </i>{{name}}</h5>

          <dd> <a class="btn btn-light " href="{{link}}">More information</a>
            <form action="/techboard/delete" method="post" class="delete-button">
              <button class="btn btn-light">
                <i class="fas fa-trash-alt"></i>
                <input type="hidden" value="{{_id}}" name="resourceId">
                <input type="hidden" value="event" name="resourceType">
              </button>
            </form>
          </dd>
          {{/each}}
          <a href="/events" class="btn btn-secondary event-button">Go to Event list</a>
        </dl>
      </div>

      <div class="card-info card text-center news-style" style="width: 30rem;">

        <h3>News</h3>
        <dl>
          {{#each news}}
          <h5 class="card-title"><i class="far fa-newspaper"></i> {{title}}</h5>
          <dd> <a class="btn btn-light" href="{{link}}">Read the News</a>

            <form action="/techboard/delete" method="post" class="delete-button">
              <button class="btn btn-light">
                <i class="fas fa-trash-alt"></i>
                <input type="hidden" value="{{_id}}" name="resourceId">
                <input type="hidden" value="news" name="resourceType">
              </button>
            </form>
          </dd>
          {{/each}}

          <a href="/news" class="btn btn-secondary news-button">Go to News List</a>
        </dl>

      </div>

      <div class="card-info card text-center learning-style" style="width: 30rem;">
        <h3>Youtube Videos</h3>
        <dl>
          {{#each videos}}
          <h5 class="card-title"><i class="fas fa-tv"></i> {{title}}</h5>
          <dd> <a class="btn btn-light" href="{{link}}">Watch Video</a>

            <form action="/techboard/delete" method="post" class="delete-button">
              <button class="btn btn-light">
                <i class="fas fa-trash-alt"></i>
                <input type="hidden" value="{{_id}}" name="resourceId">
                <input type="hidden" value="video" name="resourceType">
              </button>
            </form>
          </dd>
          {{/each}}
          <a href="/learning" class="btn btn-secondary learning-button">Go to Learning List</a>
        </dl>

      </div>

    </section>


    <h1 class="news-header border-bottom border-gray pb-2 mb-0 ">No Content?</h1>
    <div class="intro-text container page-container">
      <p class="lead">
        Start by checking out News, Events & Learning Materials you might like

      </p>
    </div>

    <section class="card-container cards-wrapper">
      <div class="card-info card text-center" style="width: 18rem;">
        <img src="./images/Events_ppl.svg" class="card-img-top event-img" alt="Tools">
        <div class="card-body">
          <h4 class="card-title">Events</h4>
          <p class="card-text">Check out JavaScript Meetups, Events & Conferences</p>
          <a href="/events" class="btn btn-secondary">Go to Event list</a>
        </div>
      </div>

      <div class="card-info card text-center" style="width: 18rem;">
        <img src="./images/Learning.svg" class="card-img-top learning-img" alt="Tools">
        <div class="card-body">
          <h5 class="card-title">Learning Materials & Videos</h5>
          <p class="card-text">Check out Books, Tutorial videos, Courses and other Learning Materials for JavaScript</p>
          <a href="/learning" class="btn btn-secondary">Go to Learning List</a>
        </div>
      </div>

      <div class="card-info card text-center" style="width: 18rem;">
        <img src="./images/Newspaper.svg" class="card-img-top news-img" alt="News">
        <div class="card-body">
          <h5 class="card-title">News</h5>
          <p class="card-text">Check out the latest JavaScript News and Blog posts</p>
          <a href="/news" class="btn btn-secondary">Go to News List</a>
        </div>
      </div>
    </section>

  </div>
</div>